{
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            },
            "plugins": ["transform-decorators-legacy", "transform-class-properties"]
          }
        ],
        "@nuxt/babel-preset-app"
      ]
    }
  }
}
